/**
 *   Fonts locales
 * - TODO : test perfs en comparaison avec fonts.googleapis
 */

@font-face {
    font-family: 'Open Sans';
    src: url('http://www.biblissima-condorcet.fr/common/fonts/opensans-regular-webfont.eot');
    src: url('http://www.biblissima-condorcet.fr/common/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.biblissima-condorcet.fr/common/fonts/opensans-regular-webfont.woff') format('woff'),
         url('http://www.biblissima-condorcet.fr/common/fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('http://www.biblissima-condorcet.fr/common/fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('http://www.biblissima-condorcet.fr/common/fonts/opensans-bold-webfont.eot');
    src: url('http://www.biblissima-condorcet.fr/common/fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.biblissima-condorcet.fr/common/fonts/opensans-bold-webfont.woff') format('woff'),
         url('http://www.biblissima-condorcet.fr/common/fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('http://www.biblissima-condorcet.fr/common/fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

/**
 *   Overrides styles collatinus + styles specifiques
 */

body {
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.jumbotron {
  padding-bottom: 16px;
  padding-top: 16px;
  font-size: 18px;
}

.logo {
  width: 140px;
  height: 140px;
  background: transparent url('../img/pseudo-sappho-small.png') no-repeat 0 0;
}

.jumbotron h1 {
  font-size: 52px;
  font-weight: normal;
}

h1 small {
  font-weight: normal;
}

.form-control {
  width: auto; /* on desactive la largeur a 100% des input */
}

.main-label {
  color: #2c6649;
  font-size: 18px;
}

.form-lemme {
  margin-top: 20px;
}

#results {
  margin: 25px 0;
  padding: 20px 0;
  border-top: 1px solid #ddd;
}

#results img{ /* evite le debordement de l'image de dico si plus large que container */
  max-width: 970px;
}

.info-lemme {
  border-bottom: .1em dotted;
}

.modal .alert {
  margin-bottom: 0;
}

.modal .modal-header {
  border-bottom: none;
  margin-bottom: 0;
}

.liste-liens {
  width: 250px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 5px 14px;
  list-style: none;
}

.previous a:before {
  content:"\2190 \00A0";
}

.next a:after {
  content:" \2192";
}

.entree-dico {
  margin: 20px 0;
}

.pager {
  margin: 10px 0;
}

.echec {
  color: red;
}

.forme-accroche {
  font-style: italic;
  font-weight: bold;
  display: list-item;
  margin: 15px 0 5px 15px;
}

.analyse-morpho {
  margin-left: 15px;
  color: #555;
}

#scrollToTop{
  font-size: 40px;
  width: 40px; 
  height: 40px;
  text-decoration: none;
  position: fixed;
  top:75px;
  right:40px;
  display:none;
}

/* Contenus infobulles */

.tooltip-inner {
  max-width: 400px; /* on augmente la largeur max des infobulles */
  text-align: left;
}

.tooltip-inner ul {
  margin: 0;
  padding: 0 0 0 10px;
}

.tooltip-inner li {
  padding-bottom: 5px;
}

/**
 *   Dicos xml
 */

.entry {
  /* commun au Du Cange et Lewis-Short */
}

/* Lewis_Short */
.entry .header {
  color: #777;
  font-size: 90%;
}

.entry .body {
  margin: 15px 0;
}

/* du_Cange : styles repris et adaptes de du_Cange_1883-7.css (ENC) */
.rights {
  text-align: right;
  font-size: 90%;
  color: #777;
}

.rights .prev, .rights .next {
  display: none;
}

.text a.form, a.form:hover { /* desactivation liens inutiles */
  color: #333;
  text-decoration: none;
}

div.dictScrap {
  margin: 1em 0;
}

.entry blockquote {
  color: #777;
  margin: 20px 0;
}

blockquote .note {
  font-style:italic;
}

.entry_bibl, .dictScrap_bibl {
  color: #555;
}

.entry_bibl { /* ligne bibliographique en tete d'article */
  background: #eee;
  padding: 5px;
  margin: 5px 0;
}

.entry_bibl i {
  color:#e;
}
.entry_bibl b {
  letter-spacing:1px;
}

/* indication biliographique en cours d'article, aligne a droite */
div.dictScrap_bibl {
  padding:0;
  margin:0;
  text-align:right;
}

div.dictScrap_bibl span {
  background:#e2ded0;
  color:#5B5B5B;
  padding: 0 1ex 0 1em;
}

.b {
  font-weight:bold;
}
/* complement de vedette principale */
a.b .seg {
  font-weight:normal;
  font-variant:small-caps;
}
/* complement de vedette de second niveau */
.sc {
  font-variant:small-caps;
}
.sc .seg {
  font-style:italic;
  font-variant:normal;
}
/* renvoi en italique */
a.ref {
  font-style:italic;
}
.i {
  font-style:italic;
}

/* liens a l'image */
.dictScrap a.cb,
.entry a.cb {
  display: none;
}
.entry_bibl a.cb {
  display: none;
}
.quote a.cb {
  display: none;
}

/* Entree du glossaire francais */
div.glossaire {
  margin:0.2ex 0;
}
div.glossaire .dictScrap {
  display:block;
  margin:0;
}
div.glossaire blockquote {
  display:block;
}
